--indent 4
--maxwidth 120
--linebreaks lf
--swiftversion 6.2
--wraparguments after-first
--wrapcollections after-first
--stripunusedargs closure-only
--hexliteralcase uppercase
--binarygrouping 4,8
--octalgrouping 4,8
--decimalgrouping 3,6
--ifdef no-indent

# Common exclusions
--exclude .build
